
<div class="row">
<h1>Grids Galore</h1>
<p>Brief introduction to grids (we will go more in depth tomorrow)</p>

<h3>Why Grids?</h3>
<p>A grid is a system for organizing your divs and giving them classes in such a way that they can be divided up into even columns and rows.
Organizing your html into grids makes it easier to organize, structure content, and avoid layout bugs that lead to hacky, messy css </p>


<h3>Bootstrap: An Example</h3>

<p>
 A good example of a CSS grid is bootstrap.
</p>
<ul>
    <li>Bootstrap's grids start by specifying an outer container.</li>
    <li>Within container, you have one or more rows.</li>
    <li>Within each row, you have a series of columns.</li>
</ul>

<p>
Note that Bootstrap gives a fixed width to its container, and is fairly strict about the padding / margins given to rows and columns. 
</p>

<div class="snippet">
  <div class="col-md-12">
    <div class="row">
      <pre class="prettyprint linenums">
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12"></div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4"></div>
    <div class="col-lg-4 col-md-4 col-sm-4"></div>
    <div class="col-lg-4 col-md-4 col-sm-4"></div>
  </div>
</div>
      </pre>
    </div>
  </div>
</div>


</div>