<div class="row">
<h1>Javascript Basics</h1>
<p>INTRO TEXT HERE</p>

<div class="panel panel-info">
    <div class="panel-heading">To run sample code</div>
    <div class="panel-body">
        Feel free to follow along! Open the console on your Developer Tools and paste the code in! (Mac shortcut: cmd + opt + J or windows: ctrl + shift + J)
    </div>
</div>

<h3>Variables</h3>

<div class="snippet">
  <div class="col-md-6">
    <div class="row">
      <pre class="prettyprint linenums">
// this is a single line comment
var city;
city = "Palo Alto";

/*
 * Comment on multiple lines.
 */
var zip = 94309;
      </pre>
    </div>
  </div>
  <div class="col-md-6">
    <div class="annotation">
      Variables in JavaScript do not have types, so they can be any type of variable (string, integer, double, etc).
    </div>
  </div>

</div>

<div class="clearfix"></div>

<h3>If Statements</h3>

<div class="snippet">
  <div class="col-md-6">
    <div class="row">
      <pre class="prettyprint linenums">
// this is a single line comment
var city;
city = "Palo Alto";

/*
 * Comment on multiple lines.
 */
var zip = 94309;
      </pre>
    </div>
  </div>
  <div class="col-md-6">
    <div class="annotation">
      <strong>Important</strong>: Almost always use triple equals ===. This checks both 
    </div>
  </div>

</div>

<div class="clearfix"></div>





</div>