<div class="row">
<h1>Javascript Common Patterns</h1>

<div class="panel panel-info">
    <div class="panel-heading">To run sample code</div>
    <div class="panel-body">
        Feel free to follow along! Open the console on your Developer Tools and paste the code in! (For Chrome on Mac: cmd + opt + J, or windows: ctrl + shift + J)
    </div>
</div>



</div>