/*
 * @zhoufosho
 * ===================
 * COLORS:
 * dark-grey: #696969;
 * light-grey: #eeeeee;
 * blue: #00A0FF;
 * dark blue: #173442
 */

body {
  padding: 50px;
  font-family: 'Lato', sans-serif;
}

a {
	color: #00A0FF;
}

h1 {
	font-family: 'Francois One', sans-serif;
}

big {
	font-family: 'Francois One', sans-serif;	
}

a:hover {
	background-color: #00A0FF;
	color: white;
	padding: 5px 0px;
	text-decoration: none;
}

.sidenav {
	position: fixed;
	margin-top: 50px;
}

.sidebar {
	list-style: none;	
}

.sidebar li{
	padding: 4px 20px;
}

.sidebar li a{
  color: #00A0FF;
}

/*a:hover{
  color: #173442;
  text-decoration: none;
  border-bottom: 1px solid #00A0FF;
}
*/

/*.sidebar li:hover a {
	font-weight: 700;
	border-bottom: none;
}*/

.sidebar :not(.active) li:hover a {
	background-color: #00A0FF;
	color: white;
	padding: 5px 0px;
}

.sidebar li.active a{
	font-weight: 700;
	background-color: #00A0FF;
	color: white;
	padding: 5px 0px;
}

.nav-tabs {
	width: auto;
}

.nav :not(.active) a{
	background-color: rgba(255, 255, 255, 0.4);
}

.nav-tabs li a:hover{
	background-color: white;
	color: inherit;
}

.content {
	padding-top: 20px;
}

.content h4{
	margin-top: 24px;
}

.panel-body {
	padding-left: 15px;
}

body.home {
	height: 100vh;
	border: solid 15px white;
	background-image: linear-gradient(to bottom, transparent 10%, rgba(185, 185, 185, 0.4) 50%), url("../images/mountains.jpg");
	background-size: cover;
	background-position: 20% 0%;
	background-repeat: no-repeat;
}

.homepage {
	margin-top: 30%;
}

.homepage h1 {
	font-size: 48px;
}

.homepage p{
	font-size: 28px;
	color: #666;
}

.annotation,
.rendered-result {
	margin-top: 1em;
	margin-left: 1px;
	margin-right: 1px;
	background: #eeeeee;
	padding: .85em;
	border: 1px solid #696969;
	border-radius: 4px;
    transition: all 0.05s ease-in;
}

.annotation p {
	margin: 0px;
}

.annotation:hover,
.rendered-result:hover {
	background: white;
	box-shadow: 1px 1px 0px 0px #555555;
}

/* print all linenums in prettify */
.prettyprint > .linenums li.L0,
.prettyprint > .linenums li.L1,
.prettyprint > .linenums li.L2,
.prettyprint > .linenums li.L3,
.prettyprint > .linenums li.L5,
.prettyprint > .linenums li.L6,
.prettyprint > .linenums li.L7,
.prettyprint > .linenums li.L8 {
	list-style-type: decimal !important
}