body {
  padding: 50px;
  font-family: 'Lato',sans-serif;
}

a {
  color: #00B7FF;
}

.sidenav {
	position: fixed;
}

.sidebar {
	list-style: none;	
}

.sidebar li{
	padding: 4px 20px;
}


/* print all linenums in prettify */
.prettyprint > .linenums li.L0,
.prettyprint > .linenums li.L1,
.prettyprint > .linenums li.L2,
.prettyprint > .linenums li.L3,
.prettyprint > .linenums li.L5,
.prettyprint > .linenums li.L6,
.prettyprint > .linenums li.L7,
.prettyprint > .linenums li.L8 {
	list-style-type: decimal !important
}